@model NoteWebApplication.Models.MultyNoteView

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Work with Notes and etc</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form asp-action="CreateNote" method="post">
        <div>
            <label>Title</label> 
            <input asp-for="Title"/>
            <span asp-validation-for="Title"></span>
            <button type="submit">Add note</button> 
        </div>
    </form>
    <p></p>
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var n in Model.Notes)
            {
                <tr>
                    <td class="note-colum" scope="row">@n.Id</td>
                    <td class="note-colum">@n.Title</td> 
                    <td class="button-colum">
                        <form method="post">
                        <input type="submit" value="Delete" asp-action="DeleteNote" asp-route-id="@n.Id"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>